<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fa fa-store-alt"></i> PC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="header-navbar">
        <ul class="navbar-nav ml-auto">

            {% if is_granted("ROLE_USER") %}
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        Mon compte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if is_granted("ROLE_PRODUCER") %}
                            <a class="dropdown-item"
                               href="{{ path("farm_update") }}"
                            >
                                <p class="max_width">Modifier mon exploitation</p>
                            </a>
                            <a class="dropdown-item "
                                     href="{{ path("product_index") }}"
                            >
                                Mes produits
                            </a>
                        {% elseif is_granted("ROLE_CUSTOMER") %}
                            <a
                                    class="dropdown-item"
                                    {# href="{{ path("cart_index") }}" #}
                            >
                                Mon panier
                            </a>
                            <a
                                    class="dropdown-item"
                                    {# href="{{ path("order_history") }}" #}
                            >
                                Mes commandes
                            </a>
                        {% endif %}
                        <a
                                class="dropdown-item"
                                {# href="{{ path("user_edit_password") }}" #}
                        >
                            Mot de passe
                        </a>
                        <a
                                class="dropdown-item"
                                {# href="{{ path("user_edit_password") }}" #}
                        >
                            Mes informations
                        </a>
                        <a class="dropdown-item"
                           href="{{ path("security_logout") }}"
                        >
                            Se déconnecter
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                    >
                        S'inscrire
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a
                                class="dropdown-item"
                                href="{{ path("app.sign-up", { role: 'producer' }) }}"
                        >
                            En tant que producteur
                        </a>
                        <div class="dropdown-divider"></div>
                        <a
                                class="dropdown-item"
                                href="{{ path("app.sign-up", { role: 'customer' }) }}"
                        >
                            En tant que consommateur
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path("security_login") }}"
                    >
                        Se connecter
                    </a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link"
                   href="{{ path("index") }}"
                >
                    Accueil <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
